button {
  position: absolute;
  margin: 20px;
  z-index: 1;
  font-size: 20px;
  background-color: #0077be;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 0.08em solid #444;
  color: white;
}

.game-mode-button {
  right: 0;
  top: 0;
}
