input,
button {
  position: absolute;
  margin: 1em;
  z-index: 1;
  background-color: #4d5f87;
  font-size: 1.3vw;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius: 0.3em;
  border: 0.08em solid #444;
  color: white;
  text-align: center;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgba(77, 95, 135, 0.7);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.255);
}

.top-right-button {
  right: 0;
  top: 0;
}

.top-left-button {
  top: 0;
}

.confirm-button {
  bottom: 0;
  right: 0;
}

.change-battlefield-button {
  right: 0;
  top: 0;
  margin-right: 6vw;
}

.first-menu-item {
  top: 50%;
  left: 50%;
  width: 15em;
  font-size: calc((2.4vw + 2.4vh) / 2);
  margin: 0;
  transform: translate(-50%, -50%);
}

.second-menu-item {
  top: 60%;
  left: 50%;
  width: 15em;
  font-size: calc((2.4vw + 2.4vh) / 2);
  margin: 0;
  transform: translate(-50%, -50%);
}

.title {
  font-family: EvilEmpire;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 25%;
  left: 50.3%;
  font-size: calc((8.5vw + 8.5vh) / 2);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #3b555cb6;
}

.turn {
  font-family: EvilEmpire;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 0.3em;
  text-align: center;
  font-size: 3vw;
  color: #3b555c;
}

.left-half-button {
  top: 60%;
  left: 42%;
  width: 7em;
  margin: 0;
  font-size: calc((2.2vw + 2.2vh) / 2);
  transform: translate(-50%, -50%);
}

.right-half-button {
  top: 60%;
  left: 58%;
  width: 7em;
  margin: 0;
  font-size: calc((2.2vw + 2.2vh) / 2);
  transform: translate(-50%, -50%);
}

.error-title {
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translate(-50%, -50%);
  color: rgb(177, 25, 25);
  top: 64%;
  left: 50%;
  font-size: calc((1.8vw + 1.8vh) / 2);
}
